html{
    font-size : 20px;
}
.card{
    border-radius: 15px;
}

.visualArea.what_visual {
	background-image: url("../images/bg_visual_whats02.jpg");
    height : 220px;
	background-size: cover; 
	background-repeat: no-repeat;
	background-position: center;
}

.visualArea.menu_visual {
	background-image: url("../images/bg_visual_menu01.jpg");
    height: 220px ;
	background-size: cover; 
	background-repeat: no-repeat;
	background-position: center;
}

.visualArea.story_visual {
	background-image: url("../images/bg_visual_storymain.jpg");
	height : 220px;
	background-size: cover; 
	background-repeat: no-repeat;
	background-position: center;
}

.titwhat {
	color: white;
	font-size: 2.5rem;
	font-weight: bold;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    margin : 0 0;
}
.titmenu {
	color: white;
	font-size: 2.5rem;
	font-weight: bold;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.titstory {
	color: white;
	font-size: 2.5rem;
	font-weight: bold;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.titmenu_sub {
	font-size: .9rem;
}
.visualArea .inner_text {
	padding: 3rem 2rem;
}

.card-title, .card-text{
    text-align: center;
}

.story_sum h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

.story_sum p {
	color: #808080;
	font-size: .8rem;
	margin: 1rem 0 0 0;
}
.more .more_btn{
	border:none;
	background : none;
}

/* footer */
.foot-info{
	color: white;
	font-size: .7rem;
}

.foot-social .social{
	column-gap: .5rem;
}

.story_text .list_tit {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 2rem;
}
.story_text .list_sub_tit {
	font-size: 1rem;
	font-weight: 500;
}

.story_text p {
	font-size: .8rem;
	color: #808080;
}




@media (max-width: 768px) { 
	.foot .d-flex{
		display: inherit !important;
	}
	.foot-social{
		display : flex;
		justify-content: space-around;
	}
	.foot-social .social{
		column-gap: 2.5rem;
		align-items: center;
	}
	.navbar-brand img{
		width: 3rem;

	}
	.navbar-nav{
		font-size: 2rem;
		margin : 0 !important
	}
	.nav-link{
		margin : 0 !important;
		padding-left: 0 !important;
		text-decoration:;
	}

}